<!--
  Generated template for the FavoritasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-title>Pizzas Favoritas</ion-title>
</ion-navbar>

</ion-header>

<ion-content paddingc class="cards-bg">

  <ion-list >
  
    <ion-item  *ngFor="let pizza of pizzas">

        <ion-card>

        <img src="{{pizza.imgUrl}}"/>
    
        <ion-card-content>
          <ion-card-title>
            {{pizza.nombre}}
          </ion-card-title>
          <p>
            {{pizza.descripcion}}
          </p>
          <p>
            {{pizza.costo}}
          </p>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col *ngIf="pizza.favorita == 1">
            <button id="{{pizza.id}}" ion-button clear small color="danger" icon-start (click)="favorito(pizza)">
              <ion-icon name='heart'></ion-icon>
              Favorita
            </button>
          </ion-col>
          <ion-col *ngIf="pizza.favorita == 0">
            <button id="{{pizza.id}}" ion-button clear small color="danger" icon-start (click)="favorito(pizza)">
              <ion-icon  name='heart-outline'></ion-icon>
              Favorita
            </button>
          </ion-col>
          <ion-col text-center></ion-col>
          <ion-col text-left>
            <button id="{{pizza.id}}" ion-button clear small color="danger" icon-start (click)="ordenar(pizza)">
              <ion-icon name='cart'></ion-icon>
              Ordenar
            </button>
          </ion-col>
        </ion-row>
    
      </ion-card>      
    </ion-item>
  
  </ion-list>
  <h4 *ngIf="pizzas.length == 0" text-center>No tienes Pizzas favoritas</h4>
</ion-content>